@use "../../../styles/variables" as variables;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100vw;

  &__inputs {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  &__checkbox {
    height: 50px;
    width: 100px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  &__checkbox:hover {
    background-color: variables.$color-yellow;
  }
}
