@use "../../styles/variables" as variables;

.main {
  width: 100%;
  flex: 1;
  background-color: variables.$color-silver;
  display: flex;
  align-items: center;
  justify-content: center;

  &__contentWithTasks {
    margin-top: 110px;
  }

  &__contentWithoutTasks {
    margin-top: 60px;
  }
}
